<div class="row">
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" (click)="openDialogBox()">
        <i class="fas fa-external-link-alt fa-fw"></i> Abrir cuadro de diálogo
      </button>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" (click)="openDialogOneButton()">
        <i class="fas fa-external-link-alt fa-fw"></i> Abrir cuadro de diálogo de 1 botón
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" (click)="openDialogTwoButtons()">
        <i class="fas fa-external-link-alt fa-fw"></i> Abrir cuadro de diálogo de 2 botones
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" (click)="openDialogThreeButtons()">
        <i class="fas fa-external-link-alt fa-fw"></i> Abrir cuadro de diálogo de 3 botones
      </button>
    </div>
  </div>
</div>
